@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(6, 101, 127);
  color: white;
  /* Para que el footer este siempre abajo */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

footer {
  margin-top: auto;
}
